@import "../main.scss";

.contact {
  padding: 55px;
  // background-color: #faf9f8;

  @include lg{
    padding: 30px;
  }
  @include sm {
    padding: 24px 30px 21px;
  }
  &__section1 {
    flex: 0 0 60%;
    width: 100%;
    max-width: 60%;
    margin: auto;
    text-align: center;

    @include lg{
      flex: 0 0 90%;
      width: 100%;
      max-width: 90%;
      margin: auto;
    }

    @include sm {
      flex: 0 0 100%;
      width: 100%;
      max-width: 100%;
    }

    .line {
      height: 2px;
      width: 40px;
      background-color: $color-black;
      margin: 0 auto;
    }
    h5 {
      font-size: 16px;
      color: $color-black;

      @include lg{
        font-size: 14.5px;
      }

      @include sm {
        font-size: 14px;
      }
    }

    h1 {
      font-size: 55px;
      color: $color-black;
      margin: 0;

      @include lg{
        font-size: 42px;
      }

      @include sm {
        font-size: 30px;
      }
    }
  }
  &__section2A {
    flex: 0 0 50%;
    max-width: 50%;
    width: 100%;
    background-color: $color-primary !important;
    display: flex;
    align-items: center;

    @include lg{
      flex: 0 0 50%;
      max-width: 50%;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0px 30px;
    }

    @include sm {
      flex: 0 0 100%;
      max-width: 100%;
      width: 100%;
      text-align: center;
    }
    h2 {
      font-size: 36px;
      color: $color-black;
      margin: 0px;

      @include lg{
        font-size: 32px;
      }

      @include sm {
        font-size: 25px;
      }
    }
    p {
      font-size: 13.5px;
      color: $color-grey;
      margin: 0px;

      @include lg{
        font-size: 11.856px;
      }

      @include sm{
        font-size: 11.856px;
      }
    }
    a {
      color: $color-black !important;
      font-size: 13px;
    }
    ul {
      list-style: none;
      margin-left: 0;
      padding-left: 0;
      li {
        margin: 20px;
      }
    }
    i {
      border-bottom: 1px solid black;
      margin-right: 10px;
      font-size: 15px;
    }
  }
  &__section2B {
    flex: 0 0 50%;
    max-width: 50%;
    width: 100%;
    @include sm {
      flex: 0 0 100%;
      max-width: 100%;
      width: 100%;
    }

    form {
      padding: 50px 20px;

      @include sm {
        padding: 50px 0px;
      }

      textarea {
        background-color: #f8f8f8;
        color: $color-grey;
        border: 1px solid dark$color-grey;
        padding: 12px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
      }
      Button {
        margin-top: 10px;
      }
    }

    .first {
      flex: 0 0 50%;
      max-width: 50%;
      width: 100%;
    }
    .second {
      flex: 0 0 50%;
      max-width: 50%;
      width: 100%;
    }

    .input__names {
      display: flex;
    }
    Input {
      margin-bottom: 30px;
    }
    // .phone{
    //   border-bottom:none !important;
    // }
  }
}
