@import "../main.scss";

.footer {
  padding: 10px 55px 50px;
  @include lg {
    padding: 30px;
  }
  @include sm {
    padding: 24px 30px 21px;
  }
  .footer__section {
    flex: 0 0 30%;
    width: 100%;
    max-width: 30%;
    margin: auto;
    padding: 65px 0px;

    @include lg {
      flex: 0 0 80%;
      max-width: 80%;
      width: 100%;
      margin: 0 auto;
    }
    @include sm {
      width: 100%;
      max-width: 70%;
      flex: 0 0 70%;
      margin: 0 auto;
    }

    &__text {
      input {
        height: 42px;
        border: 1px solid light $color-grey;
      }

      .text__para {
        font-size: 13px;
        text-align: center;
        color: $color-grey;
        margin-bottom: 30px;

        @include sm {
          margin: 10px;
        }
      }
    }

    @include sm {
      flex: 0 0 100%;
      width: 100%;
      max-width: 100%;
      padding: 0px;
    }
  }
  &__bg {
    background-color: $color-primary;
  }
  i {
    color: $color-black;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-white;
    color: $color-black;
    border-radius: 50%;
    cursor: pointer;
  }
  &__Copyright {
    background: black;
    color: $color-white;

    .copyright {
      text-align: center;
      padding: 18px 0px;
      font-size: 13px;

      @include sm {
        padding: 18px 24px;
        font-size: 13px;
      }
    }
  }
  &__fields {
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;

    @include sm {
    }
  }

  &__icons {
    justify-content: center;
    margin: 30px 0px;
  }
  .fa-twitter {
    margin-left: 10px;
    margin-right: 10px;
  }
  &__section__menu {
    @include lg {
      display: flex;
      justify-content: center;
    }
    .content {
      margin-right: 30px;
      cursor: pointer;
      color: $color-grey;
      margin: 10px 30px 20px 30px;
      text-decoration: none;

      @include lg {
        margin: 0;
        text-decoration: none;
      }

      @include sm {
        width: 100%;
        text-align: center;
        margin: 0px;
        text-decoration: none;
      }
    }
    .menu {
      justify-content: center;
      font-size: 13px;

      @include lg {
      }
    }
  }

  p {
    font-size: 13px;

    @include lg {
      margin: 0;
      padding: 15px 20px 30px;
    }

    @include sm {
      padding: 0;
      display: flex;
    }
  }

  i:hover {
    background-color: $color-primary;
  }
  .content:hover {
    color: $color-black;
  }

  h3 {
    font-size: 30px;
    color: black;
    font-weight: 700;
    line-height: 10px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 37px;

    @include lg {
      font-size: 23px;
    }

    @include sm {
      font-size: 20px;
      line-height: 18px;
      margin: 40px;
    }
  }
}
