@import "../main.scss";

.sale {
  padding: 18px 50px;
  
    @include lg{
    padding:20px 30px;
  }

  @include sm {
    padding: 15px 20px;
  }
  &__para {
    text-align: center;
  }
  // img {
  //   width: 300px;
  //   height: 366px;

  //   @include lg{
  //     width:246.67px;
  //     height: 300.52px;
  //   }

  //   @include sm {
  //     width: 165px;
  //     height: 202px;
  //   }
  // }
  .heading {
    font-size: 13px;
    margin-bottom: 0;
    color: $color-grey;
  }
  &__cards {
    flex: 0 0 25%;
    max-width: 25%;
    width: 100%;
    position: relative;

    @include lg{
      flex:0 0 33.33%;
      width:100%;
      max-width: 33.33%;
      padding: 10px !important;
    }

    @include sm {
      flex: 0 0 50%;
      width: 100%;
      max-width: 50%;
      // margin-bottom: 40px;
    }
  }
  &__cards:hover .overlay__icons {
    opacity: 0.9;
  }

  // img {
  //   width: 300px;
  //   height: 366px;

  //   @include lg{
  //     width:246.67px;
  //     height: 300.52px;
  //   }

  //   @include sm {
  //     width: 165px;
  //     height: 202px;
  //   }
  // }
  .overlay__icons {
    transition: 0.5s;
    opacity: 0;
    position: absolute;
    top: 12%;
    left: 86%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

    .eye__icon {
      margin-top: 10px;
    }
  }
  p {
    font-size: 36px;
    margin-top: 0px;
    margin-bottom: 30px;
    font-weight: bold;
    color: $color-black;

    @include sm {
      font-size: 25px;
    }
  }
  i {
    color: $color-black;
    background-color: $color-white;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
