// @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;600;700&display=swap');
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;7000&display=swap');
@import 'stylesheets/main';


*, ::before, ::after {
    box-sizing: border-box;
}
body, html { margin: 0; padding: 0; }


body {
    @include font($base-font-size, $base-text-color);
    // @include libre(400);
    line-height: $base-line-height;
    background-color: $base-body-bg;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    touch-action: pan-x pan-y;
    background-color:white;
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1510px;
    margin: 0 auto;
    
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  

img {
    max-width: 100%;
    display: block;
}

ul {
    margin: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    > div {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

// h1, h2, h3, h4, h5, h6{
//     margin: 0 0 15px;
// }

.position-relative {
    position: relative;
}

.text-center {
    text-align: center;
}

.wrapper {
    &.showMenu {
        position: fixed;
        #main,
        
        .footer {
            filter:blur(2px);
            -o-filter:blur(2px);
            -ms-filter:blur(2px);
            -moz-filter:blur(2px);
            -webkit-filter:blur(2px);
            
            
        }
    }
}

.error {
    color: red;
}